#header-inside {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-inside #store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#header-inside #store-info #store-name, #header-inside #store-info #store-slogan {
  margin-right: 3rem;
}

#header-inside #store-contact * {
  margin-left: 1rem;
}

#nav-inside {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#below-header {
  width: 1400px;
  margin: auto;
  font-size: 0.75rem;
}

main {
  width: 1400px;
  margin: auto;
}

#footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1400px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
}

#footer-container ul {
  list-style-type: none;
  margin-left: -2.5rem;
}

#footer-container #footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

#item-display-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: lightgray;
}

body {
  margin: 0;
  padding: 0;
}

header, footer {
  color: white;
  background-color: black;
  width: 100%;
}

header a, footer a {
  color: white;
  text-decoration: none;
}

header ahover, footer ahover {
  text-decoration: underline;
}

header nav, footer nav {
  background-color: darkred;
  font-weight: bold;
}

header nav *, footer nav * {
  margin-right: 2rem;
  height: 2rem;
  line-height: 2rem;
}

header nav *:last-child, footer nav *:last-child {
  margin-right: 0;
}

#footer-copyright {
  margin: auto;
}

#site-search input[type="text"] {
  border-style: none;
  border-radius: 15px 0 0 15px;
  height: 1.5rem;
  margin-right: 0;
  padding-left: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#site-search button {
  border-style: none;
  border-radius: 0 15px 15px 0;
  height: 1.5rem;
  padding: 0 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 0;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: green;
}

#site-login input[type="text"] {
  height: 1.5rem;
  margin-right: 0;
  padding-left: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 1rem;
}

#site-login input[type="button"] {
  border-style: none;
  height: 1.5rem;
  padding: 0 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 0;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: green;
}

.regular-price-now-on-sale {
  color: red;
  text-decoration: line-through;
}

.food-item-section {
  background-color: white;
  margin: 1rem;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food-item-section h3 {
  padding: 0 0.5rem;
  text-transform: capitalize;
}

.price-and-amount {
  padding: 0 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -2rem;
}

.price-and-amount label {
  font-weight: bold;
}

.price-and-amount input:first-child {
  width: 3rem;
  height: 2rem;
  float: right;
  margin-top: -0.5rem;
}

.price-and-amount input:nth-child(2) {
  display: none;
}

.price-and-amount button {
  background-color: green;
  color: white;
  width: 100%;
  height: 2rem;
  border-style: none;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-weight: bold;
}

#shopping-cart {
  position: fixed;
  width: 800px;
  height: 500px;
  background-color: white;
  border-style: solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  padding: 1rem 2rem;
}

#shopping-cart .close-shopping-cart-button {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  background-color: darkred;
  color: white;
  border-style: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-weight: bold;
}

.search-popup {
  position: fixed;
  width: 800px;
  height: 500px;
  background-color: white;
  border-style: solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  padding: 1rem 2rem;
}

.search-popup .close-search-popup-button {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  background-color: darkred;
  color: white;
  border-style: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */